{{> admin/_navbar}}
{{> admin/_settings-panel}}
{{> admin/_sidebar}}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row flex-grow">
      <div class="col-md-6 col-lg-6 grid-margin stretch-card">
        <div class="card card-rounded">
          <div class="card-body card-rounded">
            <h4 class="card-title  card-title-dash">Recent Events</h4>
            <div class="list align-items-center border-bottom py-2">
              <div class="wrapper w-100">
                <p class="mb-2 font-weight-medium">
                  Change in Directors
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-calendar text-muted me-1"></i>
                    <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="list align-items-center border-bottom py-2">
              <div class="wrapper w-100">
                <p class="mb-2 font-weight-medium">
                  Other Events
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-calendar text-muted me-1"></i>
                    <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="list align-items-center border-bottom py-2">
              <div class="wrapper w-100">
                <p class="mb-2 font-weight-medium">
                  Quarterly Report
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-calendar text-muted me-1"></i>
                    <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="list align-items-center border-bottom py-2">
              <div class="wrapper w-100">
                <p class="mb-2 font-weight-medium">
                  Change in Directors
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-calendar text-muted me-1"></i>
                    <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="list align-items-center pt-3">
              <div class="wrapper w-100">
                <p class="mb-0">
                  <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 grid-margin stretch-card">
        <div class="card card-rounded">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <h4 class="card-title card-title-dash">Activities</h4>
              <p class="mb-0">20 finished, 5 remaining</p>
            </div>
            <ul class="bullet-line-list">
              <li>
                <div class="d-flex justify-content-between">
                  <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                  <p>Just now</p>
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-between">
                  <div><span class="text-light-green">Oliver Noah</span> assign you a task</div>
                  <p>1h</p>
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-between">
                  <div><span class="text-light-green">Jack William</span> assign you a task</div>
                  <p>1h</p>
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-between">
                  <div><span class="text-light-green">Leo Lucas</span> assign you a task</div>
                  <p>1h</p>
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-between">
                  <div><span class="text-light-green">Thomas Henry</span> assign you a task</div>
                  <p>1h</p>
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-between">
                  <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                  <p>1h</p>
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-between">
                  <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                  <p>1h</p>
                </div>
              </li>
            </ul>
            <div class="list align-items-center pt-3">
              <div class="wrapper w-100">
                <p class="mb-0">
                  <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-rounded">
      <div class="card-body">
        <div class="d-sm-flex justify-content-between align-items-start">
          <div>
            <h4 class="card-title card-title-dash">Performance Line Chart</h4>
            <h5 class="card-subtitle card-subtitle-dash">Lorem Ipsum is simply dummy text of the printing</h5>
          </div>
          <div id="performance-line-legend">
            <div class="chartjs-legend">
              <ul>
                <li><span style="background-color:#1F3BB3"></span>This week</li>
                <li><span style="background-color:#52CDFF"></span>Last week</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="chartjs-wrapper mt-5">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>
          <canvas id="performaneLine" style="display: block; width: 429px; height: 150px;" width="429" height="150" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
    </div>
  </div>
  {{> admin/_footer}}
</div>
