<!-- partial -->
<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item nav-category">Staff</li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/employees">
        <i class="menu-icon mdi mdi-account-circle"></i>
        <span class="menu-title">Employees</span>
      </a>
    </li>
    <li class="nav-item nav-category">Clients</li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/appointments">
        <i class="menu-icon mdi mdi-book-multiple"></i>
        <span class="menu-title">Appointments</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/clients">
        <i class="menu-icon mdi mdi-account-multiple"></i>
        <span class="menu-title">Clients</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/documents">
        <i class="menu-icon mdi mdi-file-document"></i>
        <span class="menu-title">Documents</span>
      </a>
    </li>

    <li class="nav-item nav-category">Tools</li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/general">
        <i class="menu-icon mdi mdi-account-circle-outline"></i>
        <span class="menu-title">General Info</span>
      </a>
    </li>
    <li class="nav-item nav-category">Help</li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/settings">
        <i class="menu-icon mdi mdi-settings"></i>
        <span class="menu-title">Settings</span>
      </a>
    </li>
  </ul>
</nav>
